.exitBtn, .progressBtn {
    @include drop-shadow(black);
    position: fixed;
    top: 5vh;
    color: white;
    z-index: 100;

    @include device(mobile) {
        right: 24px;
    }
}
.exitBtn:hover, .exitBtn:focus, .progressBtn:hover, .progressBtn:focus {
    cursor: pointer;
}

.exitBtn {
    right: 5vh;
}

.progressBtn {
    left: 24px;
}

.closePopup:hover, .closePopup:focus {
        cursor: pointer;
}

.next-arrow {
    @include br-16;
    @include drop-shadow($grey-darker, 2px, 4px);
    padding: 4px;
}