.exitBtn {
    @include drop-shadow(black);
    position: fixed;
    top: 5vh;
    right: 5vh;
    color: white;
    z-index: 100;

    :hover {
        cursor: pointer;
    }
}

.next-arrow {
    @include br-16;
    @include drop-shadow($grey-darker, 2px, 4px);
    padding: 4px;
}