// RWD breakpoints (ref: https://www.section.io/engineering-education/facilitating-css-media-queries-using-scss-mixins/)
@mixin device ($breakpoint) { //the name of the mixin is devices
  
    @if $breakpoint == tablet {    
    @media only screen and (max-width: 896px) {
      @content;
    }
  }
 
  @if $breakpoint == mobile {
    @media only screen and (max-width: 430px) {
      @content;
    }
  }
}

@mixin p-16 {
    padding: 16px;
}

@mixin br-16 {
    border-radius: 16px;
}

@mixin hover-pointer {
    :hover, :focus {
        cursor: pointer;
    }
}

@mixin text-shadow {
    text-shadow: $text-shadow;
}

@mixin box-shadow {
    box-shadow: $box-shadow;
}
@mixin drop-shadow($color: black, $offset-y: 2px, $spread: 4px) {
    filter: drop-shadow($color 0px $offset-y $spread);
}

@mixin text-box {
    background-color: $grey;
    border: $gold 3px solid;
    border-radius: 100px;
    @include drop-shadow($gold-darker, 0.2px, 0.8px);

    @include device(mobile) {
        border-radius: 48px;
    }
}

@mixin text-response {
    @include br-16;

    @include device(mobile) {
        border-radius: 48px;
    }

    div {
        @include text-box;
        @include p-16;
        @include br-16;
        text-align: center;
    }

    :hover, :focus {
        background-color: $green;
        transition: .5s;

        .primary {
            background-color: $green;
        }
    }
}