.progressBar {
    position: fixed;
    top: 5vh;
    left: 5vh;
    z-index: 100;
    display: flex;
    color: white;

    li {
        position: relative;
        margin: 0 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: ease-in;
        
        .progressIcon-wrapper {
            @include box-shadow;
            width: 8vh;
            height: 8vh;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 0.5em;

            border-radius: 100px;
            // TODO: change color
            border: 3px solid $gold;
            background-color: $grey;

            img {
                width: 6vh;
            }
        }
        h3 {
            @include text-shadow;
            font-weight: bold;
            line-height: 1.8;
            font-size: 1em;
        }
        p {
            @include text-shadow;
            font-size: 0.9em;
            font-weight: normal;
            font-style: italic;
        }
    }

    li::before{
        content: '';
        position: absolute;
        top: 4vh;
        left: -2em;
        width: 2em;
        height: .2em;
        background-color: $gold;
        z-index: -1;
        transition: .8s;
    }

    li:first-child::before {
        display: none;
    }
    
    .active ~ li {
        .progressIcon-wrapper, img {
            opacity: 60%;
        }
    }
    .active ~ li::before {
        background-color: $gold;
        opacity: 40%;
    }

    #progress-1 {
        width: 4.5em;
    }
    #progress-2 {
        width: 2em;
    }
}