@import "reset";

* {
    padding: 0;
    margin: 0;
}

#root {
    width: 100vw;
    height: 100vh;
    outline: none;
    border: none;
    background-color: black;
    // TODO: change font family
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}

#curtain {
    width: 100vw;
    height: 100vh;
}

// fade-out animation (ref: https://codepen.io/Brisingr_1/pen/NWwjWLx)
.fade-wrapper {
    transition: opacity ease-out;
    transition-duration: 0.8s;
}

@import "variables";
@import "mixin";
@import "dialogue";
@import "button";
@import "progress";
@import "desk";
@import "letter";